html, body
{
  height: 100%;
  margin: 0;
}

body
{
    background: linear-gradient(to right top, rgb(202, 202, 235), rgb(168, 222, 168),rgb(231, 208, 165), rgb(200, 136, 168));
}

.header
{
    color: rgb(79, 23, 23);
    font-family: 'Yeon Sung';
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px;
}

.header img
{
    width: 80px;
    margin-left: -15px;
}

.room_name
{
    cursor: pointer;
    font-size: 20px;
}

#logout
{
    font-size: 20px;
    float: right;
}